*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.png);
}

.container{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    color: white;
    padding: 40px;
}

.container h1{
    text-align: center;
}
.container .input-box{
    width: 100%;
    height: 50%;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    padding: 20px;
    color: white;
    font-weight: 500;
}
.input-box input::placeholder{
    color: white;
}
.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.remember-forgot a{
    color: #fff;
}

.remember-forgot label :check{
    cursor: pointer;
}
.container button{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    font-weight: 600;
    margin: 10px;
    height: 50px;
}
.container button:hover{
    cursor: pointer;
}
.register a{
    color: #fff;
}
.register{
    text-align: center;
}
.person-svg{
    position: relative;
    left: 290px;
    top: -43px;
    fill: white;
}
.lock-svg{
    position: relative;
    left: 290px;
    top: -43px;
    fill: white;
}
@media screen and (max-width:480px) {
    .person-svg{
        left: 255px;
    }
    .lock-svg{
        left: 255px;
    }
    
}